/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #8bc34a ;
 }
 
 .brand-logo {
   color: #cddc39;
   font-family: "Mr De Haviland", cursive;
   font-weight: 400;
   font-style: normal;
 }
 
 body {
   font-family: "Railaway";
   background-color: black;
 }

 ::selection {
  background-color: #5e35b1;
}
 
 .highlight::selection {
   background-color: #cddc39;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }

   .header {
    margin-top: 15%;
   }

   .header-subtitle {
    margin-top: 10%;
    font-size: 1.8em;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }

 .ar-img {
  margin-bottom: -15%;
 }

 .z-depth-3-ar{
  box-shadow: 2px 2px #cddc39;
 }

/* SKILLS SECTION */
#web_skills {width: 400px;margin: 0 auto;position: relative;padding: 30px 0;line-height: 2em;font-size: 14px;}
#web_skills li {list-style: none; margin-bottom: 35px;height: 30px; color: #666;}
#web_skills li h2 {position: relative; top: -30px; font-size: 16px;}

#dev_skills {width: 400px;margin: 0 auto;position: relative;padding: 30px 0;line-height: 2em;font-size: 14px;}
#dev_skills li {list-style: none; margin-bottom: 35px;height: 30px; color: #666;}
#dev_skills li h2 {position: relative; top: -30px; font-size: 16px;}

#graphic_skills {width: 400px;margin: 0 auto;position: relative;padding: 30px 0;line-height: 2em;font-size: 14px;}
#graphic_skills li {list-style: none; margin-bottom: 35px;height: 30px; color: #666;}
#graphic_skills li h2 {position: relative; top: -30px; font-size: 16px;}

.bar {height:30px; position:absolute;}

.html {width:100%;background: #6dc86d; 
-webkit-animation:html 3s ease-in-out;
   -moz-animation:html 3s ease-in-out;
}

.css {width:70%;background: #6dc86d;
-webkit-animation:css 3s ease-in-out;
   -moz-animation:css 3s ease-in-out;
}

.javascript {width:55%;background: #6dc86d;
-webkit-animation:javascript 3s ease-in-out;
   -moz-animation:javascript 3s ease-in-out;
}

.wordpress {width:90%;background: #6dc86d;
-webkit-animation:wordpress 3s ease-in-out;
   -moz-animation:wordpress 3s ease-in-out;
}

.java {width:100%;background: #6dc86d; 
  -webkit-animation:java 3s ease-in-out;
     -moz-animation:java 3s ease-in-out;
  }
  
  .c {width:40%;background: #6dc86d;
  -webkit-animation:c 3s ease-in-out;
     -moz-animation:c 3s ease-in-out;
  }
  
  .php {width:50%;background: #6dc86d;
  -webkit-animation:php 3s ease-in-out;
     -moz-animation:php 3s ease-in-out;
  }
  
  .python {width:65%;background: #6dc86d;
  -webkit-animation:python 3s ease-in-out;
     -moz-animation:python 3s ease-in-out;
  }

  .photoshop {width:100%;background: #6dc86d; 
    -webkit-animation:photoshop 3s ease-in-out;
       -moz-animation:photoshop 3s ease-in-out;
    }
    
    .illustrator {width:70%;background: #6dc86d;
    -webkit-animation:illustrator 3s ease-in-out;
       -moz-animation:illustrator 3s ease-in-out;
    }
    
    .xd {width:65%;background: #6dc86d;
    -webkit-animation:xd 3s ease-in-out;
       -moz-animation:xd 3s ease-in-out;
    }
    
    .aftereffects {width:30%;background: #6dc86d;
    -webkit-animation:aftereffects 3s ease-in-out;
       -moz-animation:aftereffects 3s ease-in-out;
    }

    .btn_send:hover{
      background-color: #5e35b1;
    }

    .sendicon{
      font-size: 80% !important;
    }

    .pp-1:hover{
      background-color: rgb(128, 0, 128, 0.4);
    }

    .pp-2:hover{
      background-color: rgb(0, 128, 128, 0.4);
    }

    .pp-3:hover{
      background-color: rgb(255, 165, 0, 0.4);
    }

    .pp-4:hover{
      background-color: rgba(35, 105, 26, 0.4);
    }

    .pp-5:hover{
      background-color: rgb(128, 128, 128, 0.4);
    }